// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Source Sans Pro',sans-serif;} // font header
.fi {font-family: 'zevar-icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@red: #e60004;
@blue: #000970;
@cp: #011e3f; // color primary
@cl: @red; // color link

// font sizes
@fsp: 15px; // font size primary
@fsh1: 36px; // font size h1
@fsh2: 32px; // font size h2
@fsh3: 28px; // font size h3
@fsh4: 20px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 20px;