.mod_breadcrumbs {
	position: relative;
	padding: 19px 0 15px 5px;
	border-bottom: 1px solid fade(#000,20%);
	&:before{
		.fi;
		position: absolute;
		content: '\e80c';
		left: 0;
		top: 16px;
	}
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			float: left;
			font-size: 13px;
			margin: 0 0 0 23px;
			color: #fff;
			text-shadow: 1px 1px 0 fade(#000,50%);
			font-weight: bold;
			a {
				color: @cp;
				text-shadow: none;
				text-decoration: none;
				font-weight: normal;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-login {
	float: right;
	margin: 17px 0;
	ul {
		.rul;
		li {
			.rli;
			float: left;
			font-size: 14px;
			line-height: 1.2;
			margin: 0 0 0 23px;
			a {
				display: inline-block;
				color: #e60004;
				text-decoration: none;
				white-space: nowrap;
				&:hover{
					text-decoration: underline;
				}
			}
			&.register,&.login {
				a {
					padding-left: 18px;
					&:before{
						.fi;
						position: absolute;
						left: 0;
						top: 0;
						color: #fff;
						text-shadow: -1px -1px 0 fade(#000,50%);
						content: '\e801';
						font-size: 15px;
						line-height: 1;
					}
				}
			}
			&.login {
				a {
					&:before{
						content: '\e802';
					}
				}
			}
		}
	}
}
.mod_search {
	.clearfix;
	.border-radius(4px);
	.box-shadow(-1px -1px 0 fade(#000,20%));
	float: left;
	width: 340px;
	margin: 33px 0 27px 63px;
	input[type=text] {
		.rin;
		.transition(0.2s);
		.border-radius(4px);
		position: relative;
		z-index: 1;
		float: left;
		width: 300px;
		height: 39px;
		margin: 0 -4px 0 0;
		padding: 0 16px;
		font-size: 14px;
		background: #fff;
		&:focus{
			background: darken(#fff,8%);
		}
	}
	button {
		.rin;
		.transition(0.2s);
		.border-radius(0 4px 4px 0);
		position: relative;
		float: left;
		width: 44px;
		height: 39px;
		font-size: 14px;
		color: #fff;
		background: @cl;
		white-space: nowrap;
		overflow: hidden;
		&:hover{
			background: darken(@cl,10%);
		}
		&:before{
			.fi;
			float: left;
			content: '\e805';
			font-size: 20px;
			font-weight: normal;
			margin: 0 20px 0 14px;
		}
	}
}
.mod_custom-basket {
	position: relative;
	float: right;
	width: 280px;
	margin: 34px 0 20px;
	font-size: 14px;
	line-height: 1.14;
	color: #fff;
	.items,.price {
		float: left;
		width: 113px;
		text-align: right;
		padding: 0 0 0 10px;
		white-space: nowrap;
		mark {
			display: block;
			font-weight: 900;
			color: #fff;
			font-size: 20px;
		}
	}
	.items {
		width: 103px;
		padding-right: 14px;
		border-right: 1px dashed #fff;
	}
	.button {
		float: right;
		a {
			.border-radius(50%);
			.transition(0.2s);
			position: relative;
			display: block;
			width: 54px;
			line-height: 54px;
			text-indent: -9999px;
			margin: -9px -2px 0 0;
			color: #fff;
			background: @cl;
			text-align: center;
			&:hover{
				background: darken(@cl,10%);
			}
			&:before{
				.fi;
				position: absolute;
				content: '\e804';
				left: 0;
				top: 0;
				width: 100%;
				text-indent: 0;
				font-size: 28px;
			}
		}
	}
}
.mod_menu-main {
	float: left;
	margin: 16px 0 8px;
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			float: left;
			color: #000;
			margin: 0 8px 0 0;
			&:after{
				content: '/';
				margin: 0 0 0 9px;
			}
			a {
				display: inline-block;
				color: #000;
				text-decoration: none;
				&:hover{
					color: #fff;
				}
			}
			&:last-child {
				&:after{
					display: none;
				}
			}
			&.home {
				margin-right: 10px;
				&:after{
					display: none;
				}
				a {
					width: 20px;
					color: #fff;
					overflow: hidden;
					white-space: nowrap;
					&:hover{
						color: #000;
					}
					&:before{
						.fi;
						position: relative;
						top: -1px;
						margin: 0 20px 0 0;
						content: '\e800';
						font-size: 16px;
					}
				}
			}
		}
	}
}
.mod_custom-navlink {
	float: right;
	margin: 16px 12px 14px;
	a {
		color: #fff;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
		&:before{
			.fi;
			.transition(0.2s);
			content: '\e808';
			float: right;
			font-size: 27px;
			margin: -9px 0 -9px 14px;
			text-shadow: -1px -1px 0 fade(#000,30%);
		}
		mark {
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
		}
	}
}
.mod_custom-intro {
	position: relative;
	padding: 46px 0 106px;
	background: url(../images/bg/02.jpg) no-repeat bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	&:before{
		position: absolute;
		content: '';
		left: 50%;
		top: 48px;
		bottom: 0;
		width: 3px;
		background: #fff;
		margin-left: -2px;
	}
	.content {
		background: #fff;
		background: fade(#fff,60%);
	}
	h2 {
		font-size: 45px;
		line-height: 1.2;
		font-weight: 300;
		text-transform: uppercase;
		margin: 0 0 46px;
		a {
			position: relative;
			display: block;
			text-decoration: none;
			color: @blue;
			padding: 0 90px 0 0;
			&:before{
				.transition(0.2s);
				position: absolute;
				content: '';
				right: 44px;
				top: 10px;
				width: 32px;
				height: 91px;
				background: url(../images/bg/03.png) no-repeat;
			}
			&:hover{
				&:before{
					right: 34px;
				}
			}
		}
	}
	figure {
		float: right;
		width: 55%;
		img {
			max-width: inherit;
			margin: -40px 0;
		}
	}
	ul {
		.rul;
		float: left;
		width: 45%;
		margin: 30px 0;
		li {
			.rli;
			font-size: 16px;
			line-height: 1.1;
			padding: 0 0 0 22px;
			margin: 13px 0;
			&:before{
				top: 0;
				content: '\e80c';
				font-size: 15px;
				color: @blue;
			}
		}
	}
	.left {
		float: left;
		width: 50%;
	}
	.right {
		float: right;
		width: 50%;
		text-align: right;
		h2 {
			a {
				position: relative;
				display: block;
				text-decoration: none;
				color: @blue;
				padding: 0 0 0 90px;
				&:before{
					right: auto;
					left: 44px;
					background-position: -32px 0;
				}
				&:hover{
					&:before{
						left: 34px;
					}
				}
			}
		}
		figure {
			float: left;
			img {
				float: right;
			}
		}
		ul {
			float: right;
			li {
				padding: 0 22px 0 0;
				&:before{
					left: auto;
					right: 0;
					content: '\e80b';
				}
			}
		}
	}
}
.mod_custom-contact {
	#page-footer & {
		position: relative;
		text-align: center;
		color: @red;
		&:before{
			.fi;
			position: absolute;
			z-index: 2;
			left: 50%;
			top: -47px;
			width: 94px;
			height: 94px;
			line-height: 94px;
			margin-left: -47px;
			font-size: 48px;
			content: '\e80e';
			color: @red;
		}
		&:after{
			.border-radius(50%);
			.box-shadow(0 0 6px fade(#000,50%));
			position: absolute;
			content: '';
			left: 50%;
			top: -47px;
			width: 94px;
			height: 94px;
			margin-left: -47px;
			background: #f2f2f2;
		}
		.content {
			.clearfix;
			position: relative;
			z-index: 1;
			padding: 50px 0 44px;
			background: #f2f2f2 url(../images/bg/01.png) no-repeat bottom;
			background-size: 100% 100%;
			&:before{
				position: absolute;
				content: '';
				top: 100%;
				left: 0;
				width: 100%;
				height: 8px;
				background: url(../images/bg/04.png) no-repeat top;
			}
		}
		.mod-title {
			font-size: 36px;
			line-height: 1.1;
			font-weight: 300;
			float: left;
			width: 37.6%;
			padding: 0 24px 0 0;
			text-align: right;
		}
		.phone {
			float: left;
			width: 24.9%;
			font-size: 36px;
			line-height: 1.1;
			font-weight: 600;
			padding: 0 0 4px;
			border-left: 3px solid @red;
			border-right: 3px solid @red;
		}
		.contact {
			float: left;
			width: 37.5%;
			font-size: 18px;
			line-height: 1.2;
			text-align: left;
			padding: 9px 0 0 26px;
			strong {
				font-weight: 600;
			}
		}
	}
	#col-left & {
		position: relative;
		padding: 20px 20px 20px 25px;
		margin: 0 0 30px;
		background: #fff;
		&:before{
			.fi;
			position: absolute;
			z-index: 2;
			left: -28px;
			top: 10px;
			width: 56px;
			height: 56px;
			line-height: 56px;
			font-size: 28px;
			content: '\e80e';
			text-align: center;
			color: @red;
		}
		&:after{
			.border-radius(50%);
			position: absolute;
			content: '';
			left: -28px;
			top: 10px;
			width: 56px;
			height: 56px;
			background: #fff;
		}
		.mod-title {
			font-size: 34px;
			line-height: 1.1;
			font-weight: 300;
			color: @red;
			margin: 0 0 15px;
		}
		.phone {
			font-size: 32px;
			line-height: 1.1;
			font-weight: 600;
			white-space: nowrap;
			margin: 0 0 15px;
			color: @red;
		}
		.contact {
			font-size: 18px;
			line-height: 1.3;
			color: @red;
			margin: 0 0 15px;
			strong {
				font-weight: 600;
			}
		}
	}
}
.mod_menu-sidebar {
	margin: 0 0 30px;
	&>ul {
		.rul;
		margin: 0 0 16px;
		background: #73a800;
		&>li {
			.rli;
			.clearfix;
			padding: 0 0 5px;
			&>a {
				position: relative;
				display: block;
				overflow: hidden;
				font-weight: 600;
				color: #fff;
				text-decoration: none;
				font-size: 16px;
				line-height: 1.2;
				padding: 21px 10px 21px 45px;
				border-bottom: 2px solid #fff;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IxZWYyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NjdkMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  #b1ef2d 0%, #567d00 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1ef2d), color-stop(100%,#567d00));
				background: -webkit-linear-gradient(top,  #b1ef2d 0%,#567d00 100%);
				background: -o-linear-gradient(top,  #b1ef2d 0%,#567d00 100%);
				background: -ms-linear-gradient(top,  #b1ef2d 0%,#567d00 100%);
				background: linear-gradient(to bottom,  #b1ef2d 0%,#567d00 100%);
				&:before{
					.transition(0.1s);
					position: absolute;
					content: '';
					left: -5px;
					top: 50%;
					width: 38px;
					height: 160px;
					margin-top: -80px;
					background: url(../images/bg/05.png) no-repeat right center;
				}
				&:after{
					position: absolute;
					content: '';
					left: 0;
					top: -50%;
					width: 100%;
					height: 100%;
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC40Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjYyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
					background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 62%);
					background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.4)), color-stop(62%,rgba(255,255,255,0)));
					background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 62%);
					background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 62%);
					background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 62%);
					background: radial-gradient(ellipse at center,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 62%);
				}
				&:hover{
					&:before{
						left: 0;
					}
				}
			}
			ul {
				.rul;
				margin: 18px 10px 18px 20px;
				li {
					.rli;
					padding: 0 0 0 13px;
					margin: 9px 0;
					&:before{
						content: '\203a';
						color: #fff;
						top: -3px;
						font-size: 23px;
					}
					a {
						color: #fff;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
					&.act {
						&:before{
							content: '\203a\203a';
							letter-spacing: -5px;
							left: -2px;
						}
						&>a {
							font-weight: bold;
						}
					}
				}
			}
		}
		&.theme_02 {
			background: #ee2229;
			&>li {
				.rli;
				&>a {
					background: #ff8878;
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmODg3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZTIyMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background: -moz-linear-gradient(top,  #ff8878 0%, #ee2229 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8878), color-stop(100%,#ee2229));
					background: -webkit-linear-gradient(top,  #ff8878 0%,#ee2229 100%);
					background: -o-linear-gradient(top,  #ff8878 0%,#ee2229 100%);
					background: -ms-linear-gradient(top,  #ff8878 0%,#ee2229 100%);
					background: linear-gradient(to bottom,  #ff8878 0%,#ee2229 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8878', endColorstr='#ee2229',GradientType=0 );

				}
			}
		}
	}
}
.mod_custom-products {
	h1 {
		font-size: 34px;
		padding: 36px 40px 28px;
		margin: 0 0 1px;
		background: #fff;
		background: fade(#fff,80%);
	}
	.mod-header {
		.clearfix;
		margin: 0 0 10px;
		background: #fff;
		background: fade(#fff,80%);
	}
	.pagehub {
		float: left;
		background: none;
		margin: 0;
		padding: 10px 0 10px 40px;
	}
	.filter {
		font-size: 13px;
		float: right;
		padding: 13px 40px 12px 0;
		label {
			color: @blue;
			margin: 0 7px 0 0;
		}
		select {
			.rin;
			.border-radius(3px);
			height: 32px;
			width: 160px;
			padding: 0 0 0 7px;
			margin: 0 0 0 5px;
			border: 1px solid #9cacb1;
			border-right: none;
			border-bottom: none;
			background: #e6f4ff;
			&:focus{
				background: #fff;
			}
			&.small {
				width: 62px;
			}
		}
	}
	.row-items {
		.clearfix;
		margin: 0 -5px;
	}
	.item {
		float: left;
		width: 33.3333%;
		padding: 0 5px;
		margin: 0 0 10px;
		text-align: center;
		a {
			.clearfix;
			.transition(0.2s);
			display: block;
			text-decoration: none;
			color: @blue;
			padding: 0 25px 10px;
			background: fade(#fff,80%);
			&:hover{
				background: #fff;
			}
		}
		figure {
			margin: 20px 0 8px;
		}
		h2 {
			font-size: 15px;
			line-height: 18px;
			min-height: 36px;
			font-weight: normal;
			margin: 8px 0 8px;
		}
		.description {
			font-size: 12px;
			line-height: 14px;
			min-height: 42px;
			margin: 8px 0 12px;
		}
		.price {
			font-size: 12px;
			line-height: 1;
			margin: 10px 0 12px;
		}
	}
}
#detail-product {
	h1 {
		margin-bottom: 17px;
	}
	.detail-image {
		float: left;
		width: 280px;
		margin: 23px 0 10px;
		figure {
			img {
				.border-radius(16px);
				.transition(0.2s);
				padding: 14px;
				margin: 0 0 10px;
				border: 1px solid fade(@cp,20%);
			}
		}
		ul {
			.rul;
			.clearfix;
			margin: 0 0 0 -5px;
			li {
				.rli;
				float: left;
				img {
					.border-radius(4px);
					.transition(0.2s);
					padding: 2px;
					margin: 0 0 5px 5px;
					border: 1px solid fade(@cp,20%);
				}
			}
		}
		a {
			&:hover{
				img {
					background: #fff;
				}
			}
		}
	}
	.detail-description {
		float: right;
		width: 290px;
	}
	.attributes {
		margin: 0 0 6px 16px;
		font-size: 14px;
		table {
			width: 100%;
			th,td {
				padding: 8px 0;
				border-top: 1px solid #c5cacc;
			}
			th {
				color: @blue;
				font-weight: bold;
				padding-left: 5px;
			}
			tr:first-child {
				th,td {
					border-top: 0;
					padding-top: 0;
				}
			}
			.code {
				&:before{
					.fi;
					content: '\e80f';
					font-size: 19px;
					margin: 0 9px 0 0;
				}
			}
			.package {
				&:before{
					.fi;
					content: '\e810';
					font-size: 19px;
					margin: 0 9px 0 0;
				}
			}
			select {
				.rin;
				.border-radius(3px);
				height: 32px;
				padding: 0 0 0 7px;
				min-width: 120px;
				border: 1px solid #9cacb1;
				border-right: none;
				border-bottom: none;
				background: #e6f4ff;
				&:focus{
					background: #fff;
				}
			}
		}
	}
	.price {
		padding: 11px 2px 20px 15px;
		border: 1px solid #c5cacc;
		font-size: 14px;
		line-height: 1.2;
		color: @blue;
		table {
			width: 100%;
			th,td {
				padding: 5px 5px;
				vertical-align: bottom;
			}
			th {
				font-size: 19px;
				color: @blue;
				font-weight: bold;
			}
			td {
				text-align: right;
			}
			mark {
				font-weight: bold;
				color: @red;
				font-size:  22px;
			}
		}
	}
	.basket {
		.clearfix;
		border: 1px solid #c5cacc;
		border-top: 0;
		input[type=text],input[type=number] {
			.rin;
			.border-radius(3px);
			float: left;
			height: 32px;
			padding: 0 0 0 7px;
			margin: 10px 0 0 19px;
			width: 62px;
			border: 1px solid #9cacb1;
			border-right: none;
			border-bottom: none;
			text-align: center;
			background: #e6f4ff;
			&:focus{
				background: #fff;
			}
		}
		span {
			float: left;
			font-weight: bold;
			line-height: 52px;
			color: @blue;
			font-size: 14px;
			margin: 0 0 0 10px;
		}
	}
	button {
		.rin;
		.transition(0.2s);
		position: relative;
		float: right;
		height: 54px;
		color: #fff;
		font-weight: bold;
		padding: 0 17px 0 12px;
		font-size: 19px;
		background: @blue;
		&:before{
			.transition(0.2s);
			position: absolute;
			content: '';
			right: 100%;
			top: 0;
			border-top: 27px solid @blue;
			border-left: 14px solid transparent;
		}
		&:after{
			.transition(0.2s);
			position: absolute;
			content: '';
			right: 100%;
			bottom: 0;
			border-bottom: 27px solid @blue;
			border-left: 14px solid transparent;
		}
		&:hover{
			background: @red;
			&:before{
				border-top-color: @red;
			}
			&:after{
				border-bottom-color: @red;
			}
		}
	}
	.links {
		.rul;
		.clearfix;
		margin: 20px 0 20px -12px;
		li {
			.rli;
			float: left;
			font-size: 13px;
			margin: 0 0 0 12px;
			a {
				color: @cp;
			}
			&.link {
				a {
					&:before{
						.fi;
						float: left;
						content: '\e808';
						color: @blue;
						font-size: 15px;
						margin: 0 6px 0 0;
					}
				}
			}
			&.question {
				a {
					&:before{
						.fi;
						float: left;
						content: '\e811';
						color: @blue;
						font-size: 15px;
						margin: 0 6px 0 0;
					}
				}
			}
		}
	}
}
#basket {
	.products {
		.remove {
			.btn;
			font-size: 18px;
			font-weight: bold;
			padding: 0;
			width: 20px;
			height: 20px;
			line-height: 20px;
		}
	}
	.carrier-payment {
		label {
			display: inline;
		}
		.total_price {
			color: @red;
			font-size: 21px;
			font-weight: bold;
		}
	}
	.user {
		.col-left {
			float: left;
			width: 50%;
			padding: 0 15px 0 0;
		}
		.col-right {
			float: right;
			width: 50%;
			padding: 0 0 0 15px;
		}
		input[type=text],input[type=email],input[type=password] {
			width: 100%;
		}
	}
	.notes {
		textarea {
			width: 100%;
			height: 200px;
		}
	}
	.form-actions {
		.clearfix;
		padding: 20px;
		background: #fff;
		background: fade(@cp,20%);
		.pull-left {
			padding: 10px 0 0;
		}
		.normal-button {
			height: 56px;
			font-size: 18px;
			padding: 0 30px;
			font-weight: bold;
		}
	}
}