nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\e808';
			margin: 0 -5px 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	background: lighten(@cp,85%);
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@cp,100%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@cp,80%);
	}
	th,thead td{
		font-weight: bold;
		color: #fff;
		background: lighten(@cp,10%)!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		background: lighten(@cp,70%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input[type=text],input[type=email],input[type=password],textarea,select{
		.border-radius(4px);
		position: relative;
		border: 1px solid lighten(@cp,75%);
		border-bottom-color: #fff;
		border-right-color: #fff;
		font-size: 16px;
		line-height: 17px;
		margin: 0 3px 5px 0;
		width: 198px;
		height: 30px;
		padding: 6px 10px;
		color: @cp;
		background: #fff;
		outline: 0;
	}
	input.input-mini{
		width:25px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	textarea{
		padding:10px;
		width:auto;
		height:auto;
	}
	select{
		width:auto;
		padding: 2px 6px;
	}
	select[multiple]{
		height:auto;
	}
	input[type=text]:hover,input[type=email]:hover,input[type=password]:hover,textarea:hover,select:hover,
	input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,textarea:focus,select:focus{
		.box-shadow(0 0 10px lighten(@cp,70%));
	}
	.fileinputs{
		.clearfix;
		position:relative;
		overflow:hidden;
		display:inline-block;
		cursor:default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.input-file-text{
			border-right: 0;
			float: left;
			margin-right: -4px;
			padding-right: 0;
		}
		.normal-button{
			.border-radius(0 4px 4px 0);
			float: left;
			height: 30px;
			line-height: 30px;
			background-position: 0 -5px;
		}
	}
	.normal-button{
		.btn;
		padding: 0 20px;
	}
	a.normal-button{
		display:inline-block;
		text-decoration:none;
		line-height:28px;
	}
	.fileinputs:hover .normal-button{
		background: @cp;
	}
}
.search-results .highlight,.results .highlight{
	background: @cl;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0 0;
	margin: 20px 0;
	background: url(../images/bg/04.png) no-repeat top;
	a,span{
		display: inline-block;
		padding: 2px 2px 0;
		margin: 0 5px;
		height: 24px;
		font-size: 18px;
		line-height: 1;
		color: @blue;
		font-weight: bold;
		text-decoration: none;
	}
	a:hover{
		text-decoration: underline;
	}
	span.pagenav{
		color: @red;
	}
	.pagenav-ico {
		-webkit-opacity: 0.5;
		-moz-opacity: 0.5;
		opacity: 0.5;
		filter:alpha(opacity=50);
	}
	a.pagenav-ico {
		-webkit-opacity: 1;
		-moz-opacity: 1;
		opacity: 1;
		filter:alpha(opacity=100);
		&:hover{
			color: @red;
			&:before{
				border-color: @red;
			}
		}
	}
	.first,.prev,.next,.last {
		position: relative;
		top: 6px;
		text-align: left;
		width: 26px;
		margin: 0;
		font-size: 21px;
		overflow: hidden;
		white-space: nowrap;
		&:before{
			.fi;
			float: left;
			margin: 0 20px 0 0;
		}
	}
	.first,.prev{
		&:before{
			content: '\e807';
		}
	}
	.first{
		margin-left: 0;
		&:before{
			border-left: 2px solid @blue;
		}
	}
	.next,.last{
		&:before{
			content: '\e808';
		}
	}
	.last{
		margin-right: 0;
		&:before{
			border-right: 2px solid @blue;
		}
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 10px;
	background: url(../images/bg/04.png) no-repeat top;
	background-size: 100% 100%;
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 15px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
}
a.xeditorpopup img{
	.transition(0.2s);
	.border-radius(6px);
	padding: 7px;
	border: 1px solid fade(@cp,20%);
}
a.xeditorpopup:hover img{
	background: #fff;
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		.border-radius(6px);
		padding: 8px 14px;
		margin: 0 0 15px 0;
		color: #fff;
		background: lighten(@cp,10%);
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @cp;
	}
	.warning{
		background-color: darken(@cl,10%);
	}
	.error{
		background-color: @cl;
	}
}
