
.icon-home:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-basket-circled:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-down-circled:before { content: '\e806'; } /* '' */
.icon-left-circled:before { content: '\e807'; } /* '' */
.icon-right-circled:before { content: '\e808'; } /* '' */
.icon-up-circled:before { content: '\e809'; } /* '' */
.icon-down-open:before { content: '\e80a'; } /* '' */
.icon-left-open:before { content: '\e80b'; } /* '' */
.icon-right-open:before { content: '\e80c'; } /* '' */
.icon-up-open:before { content: '\e80d'; } /* '' */
.icon-phone-circled:before { content: '\e80e'; } /* '' */
.icon-barcode:before { content: '\e80f'; } /* '' */
.icon-photo:before { content: '\e810'; } /* '' */
.icon-comment:before { content: '\e811'; } /* '' */